:root {
    --primary: #FCEED5;
    --secundary: #002A48;
    --terciary: #003459;
    --quaternary: #F7DBA7;
    --neutral: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--terciary)
}

#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral);
    width: 100%;
    height: 100%;
    position: relative;
}

main {
    width: 100%;
    margin-bottom: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-area {
    background-color: var(--primary);
    width: 100%;
    height: 565px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: var(--secundary);
    position: relative;
    overflow: hidden;
}

#welcome-area > div {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 100px;
} 

#welcome-area > div > p:nth-of-type(1) {
    font-weight: bold;
    font-size: 3.2em;
}

#welcome-area h1 {
    font-size: 4em;
}

#welcome-area div > div {
    display: flex;
    justify-content: flex-start;
}

#welcome-area #img-background-1 {
    position: absolute;
    right: 140px;
    height: 450px;
    bottom: 0;
    z-index: 1;
}

#welcome-area #square-1 {
    position: absolute;
    right: 240px;
    width: 380px;
    background-color: var(--terciary);
    height: 380px;
    bottom: -200px;
    border-radius: 30px;
    transform: rotate(12deg);
}

#welcome-area #square-2 {
    position: absolute;
    right: 140px;
    width: 440px;
    background-color: var(--quaternary);
    height: 440px;
    bottom: -240px;
    border-radius: 30px;
    transform: rotate(30deg);
}

#welcome-area > div > div > button:first-child{
    border: 2px solid var(--terciary);
    background-color: var(--neutral);
    color: var(--terciary);
}

#welcome-area .blue-button {
    background-color: var(--terciary);
    color: var(--neutral);
    border: none;
}

#banner-1 #entire-banner #square-4 {
    background-color: var(--secundary);
    position: absolute;
    height: 750px;
    width: 750px;
    left: -180px;
    transform: rotate(30deg);
    border-radius: 120px;
    bottom: -750px;
    z-index: 0;
}

#banner-1 #entire-banner #square-5 {
    position: absolute;
    background-color: var(--primary);
    height: 650px;
    width: 650px;
    right: -100px;
    transform: rotate(30deg);
    border-radius: 80px;
    top: -180px;
    z-index: 0;
}

#information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information-section > div:nth-of-type(1) > div:first-child {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

#information-section > div:nth-of-type(1) > div:first-child button {
    padding: 10px;
    color: var(--secundary);
    background-color: var(--neutral);
    border-radius: 20px;
    border: 1px solid var(--secundary);
}

#information-section > div:nth-of-type(1) > div:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#information-section > div:nth-of-type(1) > div img {
    width: 100px;
}

#partners-information {
    width: 100%;
}

#partners-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#partners-header > span {
    display: inline;
    
}

#partners-header .blue-word{
    color: var(--terciary);
    font-weight: bold;
    font-size: 1.2em;
}

#partners-header button {
    width: 300px;
}


#banner-2 #entire-banner #square-4 {
    background-color: var(--primary);
    position: absolute;
    left: -380px;
    transform: rotate(70deg);
    border-radius: 120px;
    bottom: -450px;
}

#banner-2 #entire-banner #square-5 {
    position: absolute;
    background-color: var(--primary);
    height: 950px;
    width: 950px;
    right: -240px;
    transform: rotate(60deg);
    border-radius: 80px;
    top: 220px;
    z-index: 0;
}

#banner-2 #entire-banner img {
    transform: rotate(60deg) scaleX(-1);
    z-index: 4;
}

#banner-2 #entire-banner #banner-content {
    margin-left: 10px;
    align-items: start;
}
