:root {
    --primary: #FCEED5;
    --secundary: #002A48;
    --terciary: #003459;
    --quaternary: #F7DBA7;
    --neutral: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#inputPriceMin, #inputPriceMax {
    width: 20%;
    border: 0.1px solid gray;
    padding: 5px;
}

#filter-menu #price-div {
    flex-direction: row;
    justify-content: start;
}

#filter-menu {
    display: flex;
    flex-direction: column;
    padding: 15px
}

#filter-menu > p {
    margin-top: 20px;
}

#filter-menu > * {
    margin: 2px 0px;
}

#filter-menu input {
    border: none;
    outline: none;
}

#filter-menu > div {
    display: flex;
}
